name: Production deploy

on:
  workflow_dispatch:

jobs:
  pest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Node Dependencies
        run: npm ci

      - name: Build Assets
        run: npm run build

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Tests
        run: ./vendor/bin/pest

  quality:
    needs: pest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Run Pint
        run: vendor/bin/pint

      - name: Format Frontend
        run: npm run format

      - name: Lint Frontend
        run: npm run lint

  deploy:
    needs: quality
    timeout-minutes: 10
    environment: prod
    runs-on: self-hosted
    env:
      APP_KEY: ${{ secrets.APP_KEY }}
      DB_DATABASE: db_prod
      DB_USERNAME: db_prod_username
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      RESEND_KEY: ${{ secrets.RESEND_KEY}}
      STRIPE_KEY: ${{secrets.STRIPE_KEY}}
      STRIPE_SECRET: ${{secrets.STRIPE_SECRET}}
      STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_WEBHOOK_SECRET}}
    defaults:
      run:
        working-directory: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: prod

      - name: Remove stopped containers
        run: |
          docker ps -a -q --filter status=exited | xargs -r docker rm

      - name: Remove dangling images
        run: |
          docker images -f "dangling=true" -q | xargs -r docker rmi

      - name: copy env
        run: cp .env.example .env

      - name: db
        run: docker compose -f docker-compose.prod.yml up -d db

      - name: app
        run: |
          docker compose -f docker-compose.prod.yml up -d --build --force-recreate app
          sleep 5

      - name: queue-worker
        run: |
          docker compose -f docker-compose.prod.yml up -d --build --force-recreate queue-worker
          sleep 5

      - name: export-static
        run: ./scripts/export-static.sh -c app_prod /var/www/html/prod/

      - name: Prune Docker
        run: docker system prune -f
